In [30]:
import pandas as pd
import csv

In [31]:
data = pd.read_csv("./data_unsorted.csv")
data.head()

,n,h,d,g,t,h_prob,cpu_time_poly,wall_time_poly,cpu_time_ddsim,wall_time_ddsim,cpu_time_aer,wall_time_aer
0,33,12,7,72,45,0.2,0.07,0.082700,-1,-1,-1,-1
1,33,13,7,49,46,0.2,0.10,0.099048,-1,-1,-1,-1
2,33,14,13,81,47,0.2,0.22,0.221046,-1,-1,-1,-1
3,33,15,11,89,48,0.2,0.62,0.617396,-1,-1,-1,-1
4,33,16,10,95,49,0.2,1.79,1.788158,-1,-1,-1,-1

In [32]:
data.columns = data.columns.str.strip()
data.columns

Index(['n', 'h', 'd', 'g', 't', 'h_prob', 'cpu_time_poly', 'wall_time_poly',
       'cpu_time_ddsim', 'wall_time_ddsim', 'cpu_time_aer', 'wall_time_aer'],
      dtype='object')

In [33]:
# data['h'] = pd.to_numeric(data['h'], errors='coerce') # no need of this
data.sort_values(by=['n', 'h'], axis=0, inplace=True)
# data.head(40)

In [34]:
data.to_csv('data_sorted.csv', index=False)